.flex-column-4 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.flex-column-8 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.flex-column-16 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.flex-column-24 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

input, select {
    height: 56px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.36);
    border-radius: 4px;
    padding: 0 12px 0 16px;
}

select {
    padding-right: 48px;
}

.small-text {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.54);
}

input[type='number'] {
    max-width: 80px;
    width: 80px;
    text-align: center;
}

.number-input {
    display: flex;
}


.number-input .number,
 button {
    height: 56px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.36);
}

.number-input .number {
    display: inline-block;
    width: 70px;
    padding: 16px 16px;
    border-left: none;
    border-right: none;
}

.number-input button {
    width: 56px;
    font-size: 24px;
}

/*Button styling*/
button.primary{
    background: #ffffff;
    border: 1px solid #381EFF;
    height: 40px;
    padding: 10px 24px;
    color: #381EFF;
}

button.filled{
    background: #381EFF;
    color: #ffffff;
}

button.filled:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #381EFF;
    cursor: pointer;
}

button:not(.filled):hover{
    background: rgba(56, 30, 255, 0.08);
    cursor: pointer;
}

button:disabled:hover{
    background: #fff;
    cursor: inherit;
}

button + button,
button.primary + button.primary{
    border-left: none;
}