$button-height: 56px;
$color-white: #ffffff;
$color-primary: #381EFF;
$color-primary_hover: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #381EFF;
$color-grey: rgba(0, 0, 0, 0.36);
$color-grey_hover: rgba(0, 0, 0, 0.04);
$color-light-grey: rgba(0, 0, 0, 0.10);
$color-light-grey_hover: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), rgba(0, 0, 0, 0.1);

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.text-small {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.54);
}

.flex-grow-1 {
  flex-grow: 1;
}

.text-primary {
  color: $color-primary;
}

[class*="flex-column"] {
  display: flex;
  flex-direction: column;
}

.flex-column {
  &__4 {
    gap: 4px;
  }

  &__8 {
    gap: 8px;
  }

  &__16 {
    gap: 16px;
  }

  &__24 {
    gap: 24px;
  }

  &_32 {
    gap: 24px;
  }

  &__48 {
    gap: 24px;
  }

  &__auto {
    justify-content: space-between;
  }
}

[class*="flex-row"] {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row {
  &__4 {
    gap: 4px;
  }

  &__8 {
    gap: 8px;
  }

  &__16 {
    gap: 16px;
  }

  &__24 {
    gap: 24px;
  }

  &_32 {
    gap: 24px;
  }

  &__48 {
    gap: 24px;
  }

  &__auto {
    justify-content: space-between;
  }
}

input[type=text],
input[type=number],
select {
  height: 56px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid $color-grey;
  border-radius: 4px;
  padding: 0 12px 0 16px;
  background-color: transparent;

  & + input, & + select {
    margin-left: 8px;
  }
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin: 0;
}

input.dense {
  height: 40px;
}

/*Number stuff*/
.number-input {
  display: flex;

  .number, input[type='number'].number {
    width: $button-height + 8;
    padding: 10px 16px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    background: transparent;
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  button {
    width: $button-height;
  }
}

/*Button styling*/
button {
  height: 40px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0;
  background: transparent;
  border: 1px solid $color-grey;
  padding: 10px 24px;
  box-sizing: border-box;

  &.filled {
    background: $color-light-grey;

    &:hover {
      background: $color-light-grey_hover;
      cursor: pointer;
    }
  }

  &:not(.filled):hover {
    background: $color-grey_hover;
    cursor: pointer;
  }

  &:disabled:hover {
    background: transparent;
    cursor: inherit;
  }

  + button {
    border-left: none;
  }

  &.primary {
    border-color: $color-primary;
    color: $color-primary;

    &.filled {
      background: $color-primary;
      color: $color-white;

      &:hover {
        background: $color-primary_hover;
        cursor: pointer;
      }
    }

    &:disabled:hover {
      background: $color-primary;
      cursor: inherit;
    }

    & + .primary {
      border-left: none;
    }
  }

  &.img {
    width: 40px;
    padding: 4px 0 0;
  }
}
